*{
    margin: 0;
    padding: 0;
}
html,body{
    color: #333;
    font: normal 14px/1.45em microsoft yahei;
}
img{
    border: none;
}
a{
	text-decoration: none;
}
a:focus,*.focus{
    outline: none;
}
ol,ul{
    list-style: none;
}