body{
	background: #EAD0B2;
}
canvas{
	display: block;
	margin: 50px auto 20px;
	box-shadow: -2px -2px 2px #D2B89B,5px 5px 5px #A28F78;
	background: #EAD0B2 url(../images/bg-repeat.png);
}
#test{
	color: #0f0;
	position: absolute;
	padding: 20px;
	background: #010101;
	width: 80px;
	display: none;
}
#handler{
	text-align: center;
	width: 450px;
	margin: 0 auto;
}
#handler a{
	display: inline-block;
	padding: 5px 18px;
	text-decoration: none;
}
#handler a.btn-reset{
	background: #482242;
	color: #fff;
	box-shadow: 0 0 5px #4A090B;
	border-bottom: 2px solid #000;
	border-radius: 5px;
}
#handler a.btn-reset:active{
	margin-top: 2px;
	border-bottom: 0 none;
}